@{
    ViewBag.Title = "TestView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Text View
            <small>Somthing to be Placed here!!</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Example</a></li>
            <li class="active">TestView</li>
        </ol>
    </section>
    <!-- Main content -->
    
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
ABSSDS
